.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  @media screen and (max-width: 1300px) {
    background-position: bottom left -150px;
  }

  @media screen and(max-width: 1050px) {
    background-position: bottom left -250px;
  }

  @media screen and (max-width: 800px) {
    background-position: bottom left -170px;
  }

  @media screen and (max-width: 540px) {
    background-position: bottom left -120px;
  }

  @media screen and (max-width: 400px) {
    background-position: bottom left -150px;
  }
}