.backgrounds {
  height: 100%;
  position: relative;
  overflow: hidden;

  &__main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  
    background-image: url(/images/landing_page_test_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__sparks-back {
    background-image: url(/images/sparks_back.png);
    animation: blinking 3s infinite;
    animation-direction: alternate-reverse;
  }

  &__witcher {
    background-image: url(/images/witcher.png);
    animation: blinking 3s;
  }

  &__sparks-front {
    background-image: url(/images/sparks_front.png);
    animation: blinking 2s infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes blinking {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  };
}
