.page {
  height: 100%;
  color: $main-color;

  &__info-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    animation: scaleInfo 3s;
  }

  &__backgrounds {
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bonus {
    height: 125px;
    font-family: "Cambria Bold", 'Times New Roman', serif;
    font-size: 152px;
    text-align: center;
    line-height: 120px;
  }

  &__text {
    font-family: "Cambria Bold", 'Times New Roman', serif;
    font-size: 48px;

    text-transform: uppercase;
  }

  &__code {
    margin: 45px 0 40px;
  }

  &__button {
    width: 261px;
    padding: 20px 0px;

    background-color: $accent-color;
    color: $main-color;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

    border: 1px solid $accent-color;
    border-radius: 50px;

    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: #AA0D22;
      color: black;
    }

    &:focus {
      outline: none;
      border: 1px solid white;
    }
  }

  &__footer {
    width: 100%;
    padding: 0 50px 50px;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__footer-logo {
    width: 150px;
    height: 50px;

    background-image: url(/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__footer-text {
    font-family: "Cambria", 'Times New Roman', serif;
    font-size: 13px;
    color: #464646;
  }

  @media screen and(max-width: 1200px) {
    &__info-container {
      right: 50px;
    }

    &__bonus {
      height: 110px;
      font-size: 120px;
      line-height: 110px;
    }
  
    &__text {
      font-size: 35px;
    }

    &__code {
      margin: 20px 0px;
    }

    &__button {
      width: 200px;
      padding: 12px 0px;
  
      font-size: 15px;
    }
  }

  @media screen and(max-width: 1050px) {
    &__info-container {
      width: 500px;
      left: calc(50% - 250px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      align-self: center;
    }

    &__info {
      width: 500px;
      background-color: black;
      border: 5px solid white;
      border-radius: 50px;
      margin-bottom: 100px;
      padding: 20px;
    }

    &__footer {
      padding: 0 30px 30px;
    }
  
    &__footer-logo {
      width: 150px;
      height: 50px;
    }
  
    &__footer-text {
      font-size: 13px;
    }
  }

  @media screen and(max-width: 570px) {
    &__info-container {
      width: 280px;
      left: calc(50% - 140px);
    }

    &__info {
      width: 280px;
      border: 2px solid white;
      border-radius: 50px;
      margin-bottom: 70px;
      padding: 10px;
    }

    &__bonus {
      height: 80px;
      line-height: 80px;
      font-size: 70px;
    }

    &__text {
      font-size: 25px;
    }

    &__code {
      margin: 20px 0px;
    }

    &__code {
      margin: 15px 0px;
    }

    &__button {
      width: 130px;
      padding: 8px 0px;
  
      font-size: 10px;
    }

    &__footer {
      padding: 0 20px 20px;
    }
  
    &__footer-logo {
      width: 110px;
      height: 20px;
    }

    &__footer-text {
      font-size: 10px;
    }
  }

  @keyframes scaleInfo {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  };
}